<!DOCTYPE html>
<html>
  <head>
    <title>Angular ToDo</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="TodoApp">

		<section ng-controller="TodoCtrl">
      <h1>{{title}}</h1>
   		<div>
   			<label for="potato">Potato</label>
        <input type="text" ng-model="potato">

        <!-- <label for="filter2">Filter 2</label>
        <input id="filter2" type="text" ng-model="filter2">

        <input type="checkbox" ng-model="variableName">
      	<div>{{potato}}</div>
      	<div>{{variableName}}</div> -->

				<form ng-submit="addTodo()">
          <input type="text" ng-model="newTodo">
          <button type="submit"class="btn-default">New Todo</button>
        </form>

      	<div>
      		<!-- below, ng-repeat = "look at each thing in scope.task var"
      		ng-repeat happens once for each item within ng-repeat-->
      		<!-- <ul ng-repeat="eachItem in tasks"> -->
      		<ul ng-repeat="eachItem in tasks | filter: potato | filter: filter2">
      			<!-- "eachItem" is like an arg, just a name, passed in, not real -->

      			<li>{{eachItem.name}} <button ng-click="removeTodo(var_name)">Delete</button><!-- {{eachItem.type}} --></li>
      		</ul>
      	</div>
      </div>
    </section>

    <!-- Angular -->
    <script src="bower_components/angular/angular.min.js"></script>
    <!-- our scripts -->
    <script src="app/app.js"></script>
    <script src="app/controllers/todo.js"></script>
  </body>
</html>
